/*
Toda e qualquer alteração de característica do bootstrap ou função de CSS clássica pode ser incluído neste arquivo
*/
/* 
    Created on : 21/08/2017, 10:09:04
    Author     : lucasmoura
*/



label {
    font-weight: bold;
}
